$white: #fff;
$background__grey: #efeff0;
$text__color: #0E0E10;
$text__blue__link: #1b95e0;
$text__color__subtitle: #6E7884;
$border__bottom__grey: #d7d7d7;
$input__border: #e5e5e5;
$input__border__hover: #cccccc;
$input__news: #edeef0;
$input__news__hover: #c5d0db;
$alerts__red__background: #f8d7da;
$alerts__red__border: #f5c6cb;
$alerts__red__text: #721c24;
$alerts__green__background: #d4edda;
$alerts__green__border: #c3e6cb;
$alerts__green__text: #155724;
$alerts__blue__background: #cce5ff;
$alerts__blue__border: #b8daff;
$alerts__blue__text: #004085;
$blue__text__button: #1da1f3;
$blue__text__button__hover: #1d8ff3;
$button__blue__10: rgba(29, 161, 243, 0.1);
$transition__12: all .12s linear;
$box__shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
$red__button__hover: #c82325;
$red__button: #dc3545;
$reviews__star: #fcbf49;
$green__button: #28a745;
$green__button__hover: #208738;
$line__under__menu: #e5e5e5;