{% extends 'base.html' %}
{% load static %}
{% block title %}
    Восстановление пароля завершено
{% endblock %}
{% block content %}
    <div class="container">
        <div class="success__password__reset__main__block">
            <div class="new__password__inner">
                 <h1 class="success__new__password__title">Восстановление пароля завершено</h1>
                 <h3 class="success__new__password__subtitle2">Ваш пароль был сохранен. Теперь вы можете войти</h3>
             </div>
        </div>
    </div>
{% endblock %}
