{% extends 'base.html' %}
{% load static %}
{% block title %}
    Восстановление пароля
{% endblock %}
{% block content %}
     <div class="container">
         <div class="password__reset__main__block">
             <div class="new__password__inner">
                 <h1 class="new__password__title">Восстановление пароля</h1>
                 <h3 class="new__password__subtitle1">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль</h3>
             </div>
             <form method="POST" action="">
                 {% csrf_token %}
                 <div class="email__text__block1">
                     <div class="email__setting__block1">
                         <p class="email__setting1">Электронный адрес:</p>
                     </div>
                     <div class="email__reset__block__input">
                         {{ form }}
                     </div>
                 </div>
                 <div class="button__password__change__block">
                     <p><input type="submit" value="Отправить" class="button__password__change"></p>
                 </div>
             </form>
         </div>
        {% if form.errors %}
            {% if form.errors.email %}
                    <div class="errors__block1">
                        <p class="errors__text1">{{ form.errors.email.as_text|cut:"*" }}</p>
                    </div>
            {% endif %}
        {% endif %}
     </div>
{% endblock %}
