{% extends 'base.html' %}
{% load static %}
{% block title %}
    Письмо с инструкциями по восстановлению пароля отправлено
{% endblock %}
{% block content %}
    <div class="container">
        <div class="info__password__reset__main__block">
            <div class="new__password__inner">
                <h1 class="info__new__password__title">Письмо с инструкциями по восстановлению пароля отправлено</h1>
                <h3 class="info__new__password__subtitle2">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым вы зарегистрировались, и проверьте папку со спамом</h3>
            </div>
        </div>
    </div>
{% endblock %}
