{% extends 'base.html' %}
{% load static %}
{% block title %}
    Новый пароль
{% endblock %}
{% block content %}
    <div class="container">
        <div class="password__reset__main__block">
            <div class="new__password__inner">
                <h1 class="new__password__title">Новый пароль</h1>
                <h3 class="new__password__subtitle">Придумайте надежный пароль</h3>
            </div>
            <form action="" method="post">
                <div class="new__password__text__block1">
                    <div class="text__new__password__block1">
                        <p class="text__new__password">Новый пароль:</p>
                    </div>
                    <div class="new__password__input__block">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="new__password__text__block2">
                    <div class="text__new__password__block2">
                        <p class="text__new__password">Повторите пароль:</p>
                    </div>
                    <div class="new__password__input__block">
                        {{ form.new_password2 }}
                    </div>
                </div>
                <div class="button__password__change__block">
                     <p><input type="submit" value="Сохранить" class="button__password__change"></p>
                </div>
                {% csrf_token %}
            </form>
        </div>
        {% if form.errors %}
            {% if form.errors.new_password2 %}
                    <div class="errors__block1">
                        <p class="errors__text1">{{ form.errors.new_password2.as_text|cut:"*" }}</p>
                    </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
