{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
    <div class="container">
        <div class="settings__main__block">
            <div class="settings__menu">
                <div class="settings__link__block1">
                    <a href="{% url 'profile_edit' %}" class="settings__link1">Редактировать профиль</a>
                </div>
                <div class="settings__link__block2">
                    <a href="{% url 'password_change' %}" class="settings__link2">Сменить пароль</a>
                </div>
            </div>
            <div class="change__password__block">
                <div class="new__password__inner">
                    <h1 class="new__password__title">Новый пароль</h1>
                    <h3 class="new__password__subtitle">Придумайте надежный пароль</h3>
                </div>
                <form action="" method="post">
                    <div class="new__password__text__block">
                        <div class="text__new__password__block">
                            <p class="text__new__password">Старый пароль:</p>
                        </div>
                        <div class="new__password__input__block">
                            {{ form.old_password }}
                        </div>
                    </div>
                    <div class="new__password__text__block1">
                        <div class="text__new__password__block1">
                            <p class="text__new__password">Новый пароль:</p>
                        </div>
                        <div class="new__password__input__block">
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div class="new__password__text__block2">
                        <div class="text__new__password__block2">
                            <p class="text__new__password">Повторите пароль:</p>
                        </div>
                        <div class="new__password__input__block">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="button__password__change__block">
                        <input type="submit" value="Сохранить" class="button__password__change">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        {% if form.errors %}
            {% if form.errors.old_password %}
                    <div class="errors__block1">
                        <p class="errors__text1">{{ form.errors.old_password.as_text|cut:"*" }}</p>
                    </div>
            {% endif %}
            {% if form.errors.new_password2 %}
                    <div class="errors__block1">
                        <p class="errors__text1">{{ form.errors.new_password2.as_text|cut:"*" }}</p>
                    </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}