@import "../../../static/sass/variables";
@import "../../../static/sass/mixins";

.success__password__reset__main__block {
    max-width: 540px;
    width: 100%;
    margin: 15px auto;
    background: $alerts__green__background;
    border-radius: 5px;
    border: 1px solid $alerts__green__border;
}

.success__new__password__title {
    font-weight: 600;
    font-size: 24px;
    color: $alerts__green__text;
    margin: 0;
    padding-bottom: 5px;
    line-height: 30px;
}

.success__new__password__subtitle2 {
    font-weight: 400;
    font-size: 16px;
    color: $alerts__green__text;
    margin: 0 auto 35px auto;
    max-width: 340px;
    width: 100%;
}

.info__password__reset__main__block {
    max-width: 540px;
    width: 100%;
    margin: 15px auto;
    background: $alerts__blue__background;
    border-radius: 5px;
    border: 1px solid $alerts__blue__border;
}

.info__new__password__title {
    font-weight: 600;
    font-size: 24px;
    color: $alerts__blue__text;
    margin: 0;
    padding-bottom: 5px;
    line-height: 30px;
}

.info__new__password__subtitle2 {
    font-weight: 400;
    font-size: 16px;
    color: $alerts__blue__text;
    margin: 0 auto 35px auto;
    max-width: 340px;
    width: 100%;
}

@media (max-width: 575.98px) {
    .info__password__reset__main__block {
        border: none;
        border-radius: 0;
        margin: 5px 0;
    }

    .success__password__reset__main__block {
        border: none;
        border-radius: 0;
        margin: 5px 0;
    }
}