@import "../../../static/sass/variables";
@import "../../../static/sass/mixins";

label[for="id_email"] {
  display: none;
}

input[type="email"] {
    width: 100%;
    padding: 5px 10px;
    border: $input__border 2px solid;
    border-radius: 5px;
    background: $input__border;
}

input[type="email"]:hover {
    border: $input__border__hover 2px solid;
    transition: .12s all linear;
}

input[type="email"]:focus {
    outline: none;
    border-color: $blue__text__button;
    background: $white;
    transition: .12s all linear;
}

.email__reset__block__input {
    width: 250px;
}

.password__reset__main__block {
    max-width: 540px;
    width: 100%;
    margin: 15px auto;
    background: $white;
    border-radius: 5px;
}

.new__password__subtitle1 {
    font-weight: 400;
    font-size: 16px;
    color: $text__color__subtitle;
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
}

.new__password__subtitle2 {
    font-weight: 400;
    font-size: 16px;
    color: $text__color__subtitle;
    margin: 0 auto 35px auto;
    max-width: 340px;
    width: 100%;
}

.email__text__block1 {
    display: flex;
    height: 29px;
    margin: 0 75px 15px 42px;
}

.email__setting__block1 {
    width: 156px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
}

.email__setting1 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: $text__color;
}

.errorlist {
    display: none;
}

@media (max-width: 575.98px) {
    .email__text__block1 {
        height: 55px;
        width: 100%;
        padding: 0 15px;
        display: block;
        margin: 0 0 5px 0;
    }

    .email__reset__block__input {
        width: 100%;
        padding-top: 6px;
    }

    .password__reset__main__block {
        border: none;
        border-radius: 0;
        margin: 5px 0;
    }
}