@import "../../../static/sass/variables";
@import "../../../static/sass/mixins";

input[type="password"] {
    width: 100%;
    padding: 5px 10px;
    border: $input__border 2px solid;
    border-radius: 5px;
    background: $input__border;
}

input[type="password"]:hover {
    border: $input__border__hover 2px solid;
    transition: .12s all linear;
}

input[type="password"]:focus { /* Обводка формы */
    outline: none;
    border-color: $blue__text__button;
    background: $white;
    transition: .12s all linear;
}